.digital-clock { 
  font-size: 3rem; 
  font-weight: bold; 
}

.analog-clock { 
  width: 200px; 
  height: 200px; 
  border: 5px solid #333; 
  border-radius: 50%; 
  position: relative; 
  margin: 0 auto; 
}

.hand { 
  position: absolute; 
  background: #333; 
  transform-origin: bottom center; 
}

.hour-hand { 
  width: 4px; 
  height: 60px; 
  top: 40px; 
  left: 98px; 
}

.minute-hand { 
  width: 2px; 
  height: 80px; 
  top: 20px; 
  left: 99px; 
}

.second-hand { 
  width: 1px; 
  height: 90px; 
  top: 10px; 
  left: 99.5px; 
  background: red; 
}

.center-dot { 
  width: 10px; 
  height: 10px; 
  background: #333; 
  border-radius: 50%; 
  position: absolute; 
  top: 95px; 
  left: 95px; 
}

@media (max-width: 768px) {
  .digital-clock {
    font-size: 2rem;
  }
  
  .analog-clock {
    width: 150px;
    height: 150px;
  }
}